<ion-list *ngIf="authenticated">
    <ion-item (click)="onClick(1)">
        <ion-label>
            <ion-icon name="information-circle"></ion-icon> Ayuda </ion-label>
    </ion-item>
    <ion-item (click)="onClick(2)">
        <ion-label>
            <ion-icon name="color-wand"></ion-icon> Editar perfil </ion-label>
    </ion-item>
    <ion-item (click)="onClick(3)">
        <ion-label>
            <ion-icon name="heart-circle"></ion-icon> Favoritos </ion-label>
    </ion-item>
    <ion-item (click)="onClick(4)">
        <ion-label>
            <ion-icon name="log-out"></ion-icon> Salir </ion-label>
    </ion-item>
    <ion-item (click)="onClick(7)">
        <ion-label>
            <ion-icon name="bookmarks"></ion-icon> Publicaciones </ion-label>
    </ion-item>
</ion-list>

<ion-list *ngIf="!authenticated">
    <ion-item (click)="onClick(5)">
        <ion-label>
            <ion-icon name="log-in"></ion-icon> Ingresar </ion-label>
    </ion-item>
    <ion-item (click)="onClick(6)">
        <ion-label>
            <ion-icon name="create"></ion-icon> Registrarse </ion-label>
    </ion-item>
    <ion-item (click)="onClick(7)">
        <ion-label>
            <ion-icon name="bookmarks"></ion-icon> Publicaciones </ion-label>
    </ion-item>
</ion-list>