<ion-header class="ion-no-border" translucent>
    <ion-toolbar color="primary">


        <ion-buttons slot="end">
            <ion-back-button defaultHref="/" color="secondary">
            </ion-back-button>
            <ion-button>
                <ion-icon name="notifications-circle-outline" *ngIf="countNotifications>0"></ion-icon>
                <ion-badge color="tertiary" *ngIf="countNotifications>0">{{countNotifications}}</ion-badge>
                <ion-icon name="notifications-circle" *ngIf="countNotifications===0"></ion-icon>
            </ion-button>
            <ion-button size="large" *ngIf="isPc" color="secondary" (click)="presentPopover( $event )">
                <ion-chip color="primary" outline="false" size="large">
                    <ion-avatar size="large">
                        <ion-img [src]="avatarImage"></ion-img>

                    </ion-avatar>
                </ion-chip>
            </ion-button>
            <ion-button *ngIf="!isPc" color="secondary" (click)="avatarClick()">
                <ion-chip color="primary" outline="false">
                    <ion-avatar>
                        <ion-img [src]="avatarImage"></ion-img>

                    </ion-avatar>
                </ion-chip>
            </ion-button>
            <!-- <ion-button color="secondary" (click)="logOut()">
                <ion-icon name="exit-outline"></ion-icon>
            </ion-button> -->
            <!-- /assets/img/perro2.jpg -->
        </ion-buttons>
        <div class="center" style="background:#F0EBCC;padding:15px; ">

            <img src="/assets/logo/adopnate_logo.svg" style="backgorund:#fff; windth:100%;max-width:180px;">
            <ion-title color="dark" class="ion-text-center ion-text-capitalize"> {{ titulo }}</ion-title>
        </div>

    </ion-toolbar>
</ion-header>