.swiper-slide img {
    max-height: none;
}

#imgSlide {
    width: 100%;
    height: auto;
    margin-top: -20%;
}

@media only screen and (max-width: 768px) {
    #imgSlide {
        margin-top: 0;
        height: 250px;
    }
}