<ion-card style="min-height:300px" class="mgB25" style=" border: 5px solid #3dc2ff;
border-radius: 10px;">
    <div style="width: 100%;">
        <img src="assets/img/perro2.jpg" style="width: 100%;" alt="">
        <ion-fab vertical="top" horizontal="end" slot="fixed">
            <ion-fab-button class="btnFab">
                <ion-icon name="heart-circle"></ion-icon>
            </ion-fab-button>
            <ion-fab-button class="btnFab">
                59
            </ion-fab-button>
            <ion-fab-button class="btnFab">
                <ion-icon name="share-social"></ion-icon>
            </ion-fab-button>
        </ion-fab>
    </div>


    <ion-card-header class="algLeft" style="padding:0 20px">


        <h3 class="petName" color="primary"> Gorda</h3>
        <h4 class="donName" color="secondary"> Oscar Ramirez</h4>
    </ion-card-header>
    <ion-card-content>
        <h5 class="ubication" color="tertiary" style="font-style: italic;"> Nezahualcoyotl Edo. de México</h5>
        <ul style="list-style-type: none;">
            <li>
                <div class="lstItems">
                    Pit Bull Terrier Americano
                </div>

            </li>
            <li>
                <div class="lstItems">
                    Joven (1.5 a 3 años)
                </div>

            </li>
            <li>
                <div class="lstItems">
                    Hembra
                </div>

            </li>
            <li>
                <div class="lstItems">
                    Mediano (11 Kg a 22 Kg)
                </div>

            </li>
            <li>
                <div class="lstItems">
                    Energético
                </div>

            </li>
        </ul>
    </ion-card-content>
    <ion-footer class="center">
        <ion-button   color="secondary" class="mgB10" expand="full" (click)="seePet(item) "> <label color="light">Solicitar</label> </ion-button>
    </ion-footer>
</ion-card>