<div style="clear:both"></div>
<ion-card style="min-height:300px" class="mgB25" style=" border: 5px solid #3dc2ff;
border-radius: 10px;" *ngIf="!item.adoptatedPet">
    <!-- <img [src]="item.picturesPet[0].url" style="width: 350px;height:180px;" /> -->
    <ion-col size="12">
        <ion-slides [options]="slideOptsOne">
            <ion-slide *ngFor="let slide of slides" style="width:100%">
                <img [src]="slide.url" style="width: 350px;height:180px;" />
            </ion-slide>
        </ion-slides>
    </ion-col>

    <ion-card-header class="algLeft" style="padding:0 20px">
        <h3 class="petName" color="primary"> {{item.namePet}}</h3>
        <h4 class="donName" color="secondary"> {{item.userName}}</h4>
    </ion-card-header>
    <ion-card-content>
        <h5 class="ubication" color="tertiary" style="font-style: italic; text-transform: capitalize;"> <b> {{item.estatePet}} </b> {{item.delegationPet}}</h5>
        <ul style="list-style-type: none;height: 180px;margin-left: -30px;">
            <li>
                <div class="lstItems infoPet">
                    Raza : <b class="infoDescPet">{{item.racePet}}</b>
                </div>
            </li>
            <li>
                <div class="lstItems infoPet">
                    Edad : <b class="infoDescPet">{{item.agePet}}</b>
                </div>
            </li>
            <li>
                <div class="lstItems infoPet" *ngIf="item.categoriesPet[0]" style="">
                    Tipo de mascota : <b class="infoDescPet">
                        <span *ngIf="item.categoriesPet[0].value === 'dog'">
                            Perro
                        </span>
                        <span *ngIf="item.categoriesPet[0].value === 'cat'">
                            Gato
                        </span>
                        <span *ngIf="item.categoriesPet[0].value === 'bird'">
                            Ave
                        </span>
                        <span *ngIf="item.categoriesPet[0].value === 'other'">
                            Otro
                        </span>

                    </b>
                </div>
            </li>
            <li>
                <div class="lstItems infoPet" *ngIf="item.categoriesPet[1]">
                    Tamaño de raza : <b class="infoDescPet">
                        <span *ngIf="item.categoriesPet[1].value === 'min'">
                            Miniatura
                        </span>
                        <span *ngIf="item.categoriesPet[1].value === 'small'">
                            Pequeño
                        </span>
                        <span *ngIf="item.categoriesPet[1].value === 'medium'">
                            Mediano
                        </span>
                        <span *ngIf="item.categoriesPet[1].value === 'big'">
                            Grande
                        </span>
                        <span *ngIf="item.categoriesPet[1].value === 'gigant'">
                            Gigante
                        </span>
                    </b>
                </div>
            </li>
            <li>
                <div class="lstItems infoPet" *ngIf="item.categoriesPet[3]">
                    Longevidad : <b class="infoDescPet">
                        <span *ngIf="item.categoriesPet[3].value === 'puppy'">
                            Cachorro
                        </span>
                        <span *ngIf="item.categoriesPet[3].value === 'adult'">
                            Adulto
                        </span>
                        <span *ngIf="item.categoriesPet[3].value === 'senior'">
                            Mayor
                        </span>
                    </b>
                </div>
            </li>
            <li>
                <div class="lstItems infoPet" *ngIf="item.categoriesPet[4]">
                    Genero : <b class="infoDescPet">
                        <span *ngIf="item.categoriesPet[4].value === 'male'">
                            Macho
                        </span>
                        <span *ngIf="item.categoriesPet[4].value === 'female'">
                            Hembra
                        </span>

                    </b>
                </div>

            </li>
            <!-- <li>
                <div class="lstItems" *ngIf="item.categoriesPet[4]">
                    Genero : {{item.categoriesPet[4].value}}
                </div>

            </li> -->
            <li>
                <div class="lstItems">
                    "<b class="infoDescPet"> {{item.descriptionPet}}</b>"
                </div>

            </li>
        </ul>
    </ion-card-content>

</ion-card>
<ion-fab vertical="top" horizontal="end" slot="fixed" style="margin-right: 20px;margin-top: 20px;">
    <ion-fab-button class="btnFab" *ngIf="auth">
        <ion-icon name="heart-circle" (click)="likes()" *ngIf="!likeCheck"></ion-icon>
        <ion-icon name="heart" (click)="likes()" *ngIf="likeCheck" color="danger"></ion-icon>
    </ion-fab-button>
    <ion-fab-button class="btnFab">
        {{count}}
        <ion-icon name="heart" *ngIf="!auth" style="font-size: 10px;color:red;"></ion-icon>
    </ion-fab-button>
    <ion-fab-button class="btnFab">
        <ion-icon name="share-social" (click)="share()"></ion-icon>
    </ion-fab-button>
</ion-fab>
<ion-footer class="center">
    <ion-button color="secondary" class="mgB10" expand="full" (click)="seePet(item) "> <label color="light">Mas información</label> </ion-button>
</ion-footer>