<app-navbar titulo="Publicación" (propagar)=" isPcV($event)"></app-navbar>
<ion-content>
    <!-- <app-refresher> </app-refresher> -->
    <ion-grid>
        <ion-row>
            <ion-grid>
                <ion-row>
                    <ion-col size="12" class="center">
                        <h1>Mi perro</h1>
                    </ion-col>
                    <!-- <ion-col size="12" size-sm="4" size-md="6" size-lg="4" class="center">
                        <ion-card style="min-height:300px" class="mgB25">
                            <ion-card-header class="center">
                                <ion-card-subtitle class="pd10">Cochis</ion-card-subtitle>
                                <img src="assets/img/user.png" alt="" style="width:150px">
                                <ion-title> dsadsadsa</ion-title>
                            </ion-card-header>
                            <ion-card-content>

                                <p>lorem </p>

                            </ion-card-content>
                        </ion-card>
                    </ion-col> -->

                    <!-- Pet -->

                    <ion-col size="0" size-lg="2"></ion-col>
                    <ion-col size="12" size-sm="12" size-md="12" size-lg="8" class="center">
                        <ion-card style="min-height:300px" class="mgB25 noBorder">
                            <ion-card-header class="center">
                                <img src="assets/img/perro4.jpg" />
                                <ion-card-subtitle class="pd10">Usuario</ion-card-subtitle>
                                <ion-title> Gorda
                                </ion-title>
                                <ion-chip color="primary" outline="true">
                                    <ion-avatar>
                                        <img src="assets/img/user.png" />
                                    </ion-avatar>
                                    <ion-label>Oscar Ramirez</ion-label>
                                </ion-chip>
                            </ion-card-header>
                        </ion-card>
                        <ion-card-content>
                            <ion-item-options side="start">
                                <ion-item-option>
                                    <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
                                </ion-item-option>
                                <ion-item-option color="danger">
                                    <ion-icon slot="icon-only" name="share-outline"></ion-icon>
                                </ion-item-option>
                            </ion-item-options>
                            <ion-item>
                                <ion-label>
                                    <h3> Nombre</h3>
                                </ion-label>
                                <ion-label slot="end" class="ion-text-end text-small"> Gorda </ion-label>
                            </ion-item>
                            <ion-item>
                                <ion-label>
                                    <h3> Edad</h3>
                                </ion-label>
                                <ion-label slot="end" class="ion-text-end text-small"> 2 Años </ion-label>
                            </ion-item>
                            <ion-item>
                                <ion-label>
                                    <h3> Raza</h3>
                                </ion-label>
                                <ion-label slot="end" class="ion-text-end text-small"> Pittbull </ion-label>
                            </ion-item>
                            <ion-item>
                                <ion-label>
                                    <h3>Descripcion</h3>
                                </ion-label>
                                <p>
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam, repellendus corporis voluptatum atque voluptatem dolorum ipsum quaerat, veniam facere aliquid nemo unde rem, facilis delectus dolore tenetur accusamus laudantium distinctio.
                                </p>
                            </ion-item>
                        </ion-card-content>

                    </ion-col>
                    <ion-col size="0" size-lg="2"></ion-col>
                </ion-row>
            </ion-grid>

        </ion-row>
    </ion-grid>

</ion-content>
<app-footer></app-footer>