<app-navbar titulo="Publicación" (propagar)=" isPcV($event)"></app-navbar>
<ion-content>
    <!-- <app-refresher> </app-refresher> -->
    <ion-grid>
        <ion-row>
            <ion-grid>
                <ion-row>
                    <ion-col size="12" class="center">
                        <h2>{{pet.namePet}} </h2>
                    </ion-col>
                    <!-- Pet -->
                    <ion-col size="0" size-lg="2"></ion-col>
                    <ion-col size="12" size-sm="12" size-md="12" size-lg="8" class="center">
                        <ion-card class="mgB25 noBorder">
                            <ion-card-header class="center">
                                <img [src]="pet.picturesPet[0].url" style="width:100% !important;  max-width: 450px; margin:auto">
                                <!-- <ion-slides [options]="slideOptsOne" style="width:100% !important;">
                                    <ion-slide *ngFor="let slide of slides" style="width:100% !important;">
                                        <img [src]="slide.url" style="width:100% !important;">
                                    </ion-slide>
                                </ion-slides> -->
                                <ion-card-subtitle class="pd10">{{pet.dateCreated | date}}</ion-card-subtitle>
                                <ion-title> {{pet.estatePet}} - {{pet.delegationPet}}
                                </ion-title>
                                <ion-chip color="primary" outline="true">
                                    <ion-avatar>
                                        <img src="assets/img/user.png" />
                                    </ion-avatar>
                                    <ion-label> {{pet.userName}}</ion-label>
                                </ion-chip>
                            </ion-card-header>
                        </ion-card>
                        <ion-card-content>
                            <ion-item-options side="start">
                                <ion-item-option>
                                    <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
                                </ion-item-option>
                                <ion-item-option color="danger">
                                    <ion-icon slot="icon-only" name="share-outline"></ion-icon>
                                </ion-item-option>
                            </ion-item-options>
                            <ion-col size="12" size-sm="12" size-xl="4">
                                <ion-item>
                                    <ion-label>
                                        <h3> Nombre</h3>
                                    </ion-label>
                                    <ion-label slot="end" class="ion-text-end text-small"> {{pet.userName}} </ion-label>
                                </ion-item>
                            </ion-col>
                            <ion-col size="12" size-sm="12" size-xl="4">
                                <ion-item>
                                    <ion-label>
                                        <h3> Edad</h3>
                                    </ion-label>
                                    <ion-label slot="end" class="ion-text-end text-small">{{pet.agePet}} </ion-label>
                                </ion-item>
                            </ion-col>
                            <ion-col size="12" size-sm="12" size-xl="4">
                                <ion-item>
                                    <ion-label>
                                        <h3> Raza</h3>
                                    </ion-label>
                                    <ion-label slot="end" class="ion-text-end text-small">{{pet.racePet}} </ion-label>
                                </ion-item>
                            </ion-col>
                            <ion-col size="12">
                                <ion-item>
                                    <ion-label>
                                        <h3>Descripción</h3>
                                    </ion-label>
                                    <p>
                                        {{pet.descriptionPet}}
                                    </p>
                                </ion-item>
                            </ion-col>





                        </ion-card-content>

                    </ion-col>
                    <ion-col size="0" size-lg="2"></ion-col>
                </ion-row>
            </ion-grid>

        </ion-row>
    </ion-grid>

</ion-content>
<app-footer></app-footer>