<app-navbar titulo="Ingresa" (propagar)=" isPcV($event)"></app-navbar>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="12" size-md="6" size-lg="6" size-xl="5" class="center">
                <ion-card>
                    <ion-card-header>
                        Inicia Sesion
                    </ion-card-header>
                    <ion-card-content>
                        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onResetPassword()" novalidate>
                            <ion-item lines="full">
                                <ion-label position="floating" class="inputLabel">Correo electrónico</ion-label>
                                <ion-input formControlName="email" type="email" id="email"></ion-input>
                            </ion-item>
                            <span class="error ion-padding" *ngIf="submitted && errorCtr.email.errors?.required">
                              El correo es requerido.
                            </span>
                            <span class="error ion-padding" *ngIf="submitted && errorCtr.email.errors?.pattern">
                              Correo ingresado invalido.
                            </span>

                            <ion-row>
                                <ion-col>
                                    <ion-button type="submit" color="danger" expand="block" [disabled]="forgotPasswordForm.invalid">Solicitar cambio de contraseña</ion-button>
                                </ion-col>
                            </ion-row>

                        </form>

                        <ion-row>
                            <ion-col class="center">
                                <a [routerLink]="['/login']">
                                    <ion-label>Loguearse</ion-label>
                                </a>
                            </ion-col>
                        </ion-row>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>


</ion-content>
<app-footer></app-footer>