// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/

// --ion-color-primary: #3880ff;
//     --ion-color-primary-rgb: 56, 128, 255;
//     --ion-color-primary-contrast: #ffffff;
//     --ion-color-primary-contrast-rgb: 255, 255, 255;
//     --ion-color-primary-shade: #3171e0;
//     --ion-color-primary-tint: #4c8dff;
//     --ion-color-secondary: #3dc2ff;
//     --ion-color-secondary-rgb: 61, 194, 255;
//     --ion-color-secondary-contrast: #ffffff;
//     --ion-color-secondary-contrast-rgb: 255, 255, 255;
//     --ion-color-secondary-shade: #36abe0;
//     --ion-color-secondary-tint: #50c8ff;
//     --ion-color-tertiary: #5260ff;
//     --ion-color-tertiary-rgb: 82, 96, 255;
//     --ion-color-tertiary-contrast: #ffffff;
//     --ion-color-tertiary-contrast-rgb: 255, 255, 255;
//     --ion-color-tertiary-shade: #4854e0;
//     --ion-color-tertiary-tint: #6370ff;
:root {
    --ion-color-primary: #3F3697;
    --ion-color-primary-rgb: 63, 54, 151;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #373085;
    --ion-color-primary-tint: #524aa1;
    --ion-color-secondary: #344FA1;
    --ion-color-secondary-rgb: 52, 79, 161;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #2e468e;
    --ion-color-secondary-tint: #4861aa;
    --ion-color-tertiary: #3D84B8;
    --ion-color-tertiary-rgb: 61, 132, 184;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #3674a2;
    --ion-color-tertiary-tint: #5090bf;
    --ion-color-success: #66DE93;
    --ion-color-success-rgb: 102, 222, 147;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0, 0, 0;
    --ion-color-success-shade: #5ac381;
    --ion-color-success-tint: #75e19e;
    --ion-color-warning: #E8E46E;
    --ion-color-warning-rgb: 232, 228, 110;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #ccc961;
    --ion-color-warning-tint: #eae77d;
    --ion-color-danger: #eb445a;
    --ion-color-danger-rgb: 235, 68, 90;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #cf3c4f;
    --ion-color-danger-tint: #ed576b;
    --ion-color-dark: #0F3057;
    --ion-color-dark-rgb: 15, 48, 87;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #0d2a4d;
    --ion-color-dark-tint: #274568;
    --ion-color-medium: #008891;
    --ion-color-medium-rgb: 0, 136, 145;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #007880;
    --ion-color-medium-tint: #1a949c;
    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244, 245, 248;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;
}

@media (prefers-color-scheme: dark) {
    /*
   * Dark Colors
   * -------------------------------------------
   */
    body {
        --ion-color-primary: #428cff;
        --ion-color-primary: #3F3697;
        --ion-color-primary-rgb: 63, 54, 151;
        --ion-color-primary-contrast: #ffffff;
        --ion-color-primary-contrast-rgb: 255, 255, 255;
        --ion-color-primary-shade: #373085;
        --ion-color-primary-tint: #524aa1;
        --ion-color-secondary: #344FA1;
        --ion-color-secondary-rgb: 52, 79, 161;
        --ion-color-secondary-contrast: #ffffff;
        --ion-color-secondary-contrast-rgb: 255, 255, 255;
        --ion-color-secondary-shade: #2e468e;
        --ion-color-secondary-tint: #4861aa;
        --ion-color-tertiary: #3D84B8;
        --ion-color-tertiary-rgb: 61, 132, 184;
        --ion-color-tertiary-contrast: #ffffff;
        --ion-color-tertiary-contrast-rgb: 255, 255, 255;
        --ion-color-tertiary-shade: #3674a2;
        --ion-color-tertiary-tint: #5090bf;
        --ion-color-success: #66DE93;
        --ion-color-success-rgb: 102, 222, 147;
        --ion-color-success-contrast: #000000;
        --ion-color-success-contrast-rgb: 0, 0, 0;
        --ion-color-success-shade: #5ac381;
        --ion-color-success-tint: #75e19e;
        --ion-color-warning: #E8E46E;
        --ion-color-warning-rgb: 232, 228, 110;
        --ion-color-warning-contrast: #000000;
        --ion-color-warning-contrast-rgb: 0, 0, 0;
        --ion-color-warning-shade: #ccc961;
        --ion-color-warning-tint: #eae77d;
        --ion-color-danger: #eb445a;
        --ion-color-danger-rgb: 235, 68, 90;
        --ion-color-danger-contrast: #ffffff;
        --ion-color-danger-contrast-rgb: 255, 255, 255;
        --ion-color-danger-shade: #cf3c4f;
        --ion-color-danger-tint: #ed576b;
        --ion-color-dark: #0F3057;
        --ion-color-dark-rgb: 15, 48, 87;
        --ion-color-dark-contrast: #ffffff;
        --ion-color-dark-contrast-rgb: 255, 255, 255;
        --ion-color-dark-shade: #0d2a4d;
        --ion-color-dark-tint: #274568;
        --ion-color-medium: #008891;
        --ion-color-medium-rgb: 0, 136, 145;
        --ion-color-medium-contrast: #ffffff;
        --ion-color-medium-contrast-rgb: 255, 255, 255;
        --ion-color-medium-shade: #007880;
        --ion-color-medium-tint: #1a949c;
        --ion-color-light: #f4f5f8;
        --ion-color-light-rgb: 244, 245, 248;
        --ion-color-light-contrast: #000000;
        --ion-color-light-contrast-rgb: 0, 0, 0;
        --ion-color-light-shade: #d7d8da;
        --ion-color-light-tint: #f5f6f9;
    }
    /*
   * iOS Dark Theme
   * -------------------------------------------
   */
    .ios body {
        // --ion-background: url('/assets/img/background.svg') repeat 100% 100% !important;
        --ion-color-primary: #3F3697;
        --ion-color-primary-rgb: 63, 54, 151;
        --ion-color-primary-contrast: #ffffff;
        --ion-color-primary-contrast-rgb: 255, 255, 255;
        --ion-color-primary-shade: #373085;
        --ion-color-primary-tint: #524aa1;
        --ion-color-secondary: #344FA1;
        --ion-color-secondary-rgb: 52, 79, 161;
        --ion-color-secondary-contrast: #ffffff;
        --ion-color-secondary-contrast-rgb: 255, 255, 255;
        --ion-color-secondary-shade: #2e468e;
        --ion-color-secondary-tint: #4861aa;
        --ion-color-tertiary: #3D84B8;
        --ion-color-tertiary-rgb: 61, 132, 184;
        --ion-color-tertiary-contrast: #ffffff;
        --ion-color-tertiary-contrast-rgb: 255, 255, 255;
        --ion-color-tertiary-shade: #3674a2;
        --ion-color-tertiary-tint: #5090bf;
        --ion-color-success: #66DE93;
        --ion-color-success-rgb: 102, 222, 147;
        --ion-color-success-contrast: #000000;
        --ion-color-success-contrast-rgb: 0, 0, 0;
        --ion-color-success-shade: #5ac381;
        --ion-color-success-tint: #75e19e;
        --ion-color-warning: #E8E46E;
        --ion-color-warning-rgb: 232, 228, 110;
        --ion-color-warning-contrast: #000000;
        --ion-color-warning-contrast-rgb: 0, 0, 0;
        --ion-color-warning-shade: #ccc961;
        --ion-color-warning-tint: #eae77d;
        --ion-color-danger: #eb445a;
        --ion-color-danger-rgb: 235, 68, 90;
        --ion-color-danger-contrast: #ffffff;
        --ion-color-danger-contrast-rgb: 255, 255, 255;
        --ion-color-danger-shade: #cf3c4f;
        --ion-color-danger-tint: #ed576b;
        --ion-color-dark: #0F3057;
        --ion-color-dark-rgb: 15, 48, 87;
        --ion-color-dark-contrast: #ffffff;
        --ion-color-dark-contrast-rgb: 255, 255, 255;
        --ion-color-dark-shade: #0d2a4d;
        --ion-color-dark-tint: #274568;
        --ion-color-medium: #008891;
        --ion-color-medium-rgb: 0, 136, 145;
        --ion-color-medium-contrast: #ffffff;
        --ion-color-medium-contrast-rgb: 255, 255, 255;
        --ion-color-medium-shade: #007880;
        --ion-color-medium-tint: #1a949c;
        --ion-color-light: #f4f5f8;
        --ion-color-light-rgb: 244, 245, 248;
        --ion-color-light-contrast: #000000;
        --ion-color-light-contrast-rgb: 0, 0, 0;
        --ion-color-light-shade: #d7d8da;
        --ion-color-light-tint: #f5f6f9;
    }
    .ios ion-modal {
        --ion-color-primary: #3F3697;
        --ion-color-primary-rgb: 63, 54, 151;
        --ion-color-primary-contrast: #ffffff;
        --ion-color-primary-contrast-rgb: 255, 255, 255;
        --ion-color-primary-shade: #373085;
        --ion-color-primary-tint: #524aa1;
        --ion-color-secondary: #344FA1;
        --ion-color-secondary-rgb: 52, 79, 161;
        --ion-color-secondary-contrast: #ffffff;
        --ion-color-secondary-contrast-rgb: 255, 255, 255;
        --ion-color-secondary-shade: #2e468e;
        --ion-color-secondary-tint: #4861aa;
        --ion-color-tertiary: #3D84B8;
        --ion-color-tertiary-rgb: 61, 132, 184;
        --ion-color-tertiary-contrast: #ffffff;
        --ion-color-tertiary-contrast-rgb: 255, 255, 255;
        --ion-color-tertiary-shade: #3674a2;
        --ion-color-tertiary-tint: #5090bf;
        --ion-color-success: #66DE93;
        --ion-color-success-rgb: 102, 222, 147;
        --ion-color-success-contrast: #000000;
        --ion-color-success-contrast-rgb: 0, 0, 0;
        --ion-color-success-shade: #5ac381;
        --ion-color-success-tint: #75e19e;
        --ion-color-warning: #E8E46E;
        --ion-color-warning-rgb: 232, 228, 110;
        --ion-color-warning-contrast: #000000;
        --ion-color-warning-contrast-rgb: 0, 0, 0;
        --ion-color-warning-shade: #ccc961;
        --ion-color-warning-tint: #eae77d;
        --ion-color-danger: #eb445a;
        --ion-color-danger-rgb: 235, 68, 90;
        --ion-color-danger-contrast: #ffffff;
        --ion-color-danger-contrast-rgb: 255, 255, 255;
        --ion-color-danger-shade: #cf3c4f;
        --ion-color-danger-tint: #ed576b;
        --ion-color-dark: #0F3057;
        --ion-color-dark-rgb: 15, 48, 87;
        --ion-color-dark-contrast: #ffffff;
        --ion-color-dark-contrast-rgb: 255, 255, 255;
        --ion-color-dark-shade: #0d2a4d;
        --ion-color-dark-tint: #274568;
        --ion-color-medium: #008891;
        --ion-color-medium-rgb: 0, 136, 145;
        --ion-color-medium-contrast: #ffffff;
        --ion-color-medium-contrast-rgb: 255, 255, 255;
        --ion-color-medium-shade: #007880;
        --ion-color-medium-tint: #1a949c;
        --ion-color-light: #f4f5f8;
        --ion-color-light-rgb: 244, 245, 248;
        --ion-color-light-contrast: #000000;
        --ion-color-light-contrast-rgb: 0, 0, 0;
        --ion-color-light-shade: #d7d8da;
        --ion-color-light-tint: #f5f6f9;
    }
    /*
   * Material Design Dark Theme
   * -------------------------------------------
   */
    .md body {
        --ion-color-primary: #3F3697;
        --ion-color-primary-rgb: 63, 54, 151;
        --ion-color-primary-contrast: #ffffff;
        --ion-color-primary-contrast-rgb: 255, 255, 255;
        --ion-color-primary-shade: #373085;
        --ion-color-primary-tint: #524aa1;
        --ion-color-secondary: #344FA1;
        --ion-color-secondary-rgb: 52, 79, 161;
        --ion-color-secondary-contrast: #ffffff;
        --ion-color-secondary-contrast-rgb: 255, 255, 255;
        --ion-color-secondary-shade: #2e468e;
        --ion-color-secondary-tint: #4861aa;
        --ion-color-tertiary: #3D84B8;
        --ion-color-tertiary-rgb: 61, 132, 184;
        --ion-color-tertiary-contrast: #ffffff;
        --ion-color-tertiary-contrast-rgb: 255, 255, 255;
        --ion-color-tertiary-shade: #3674a2;
        --ion-color-tertiary-tint: #5090bf;
        --ion-color-success: #66DE93;
        --ion-color-success-rgb: 102, 222, 147;
        --ion-color-success-contrast: #000000;
        --ion-color-success-contrast-rgb: 0, 0, 0;
        --ion-color-success-shade: #5ac381;
        --ion-color-success-tint: #75e19e;
        --ion-color-warning: #E8E46E;
        --ion-color-warning-rgb: 232, 228, 110;
        --ion-color-warning-contrast: #000000;
        --ion-color-warning-contrast-rgb: 0, 0, 0;
        --ion-color-warning-shade: #ccc961;
        --ion-color-warning-tint: #eae77d;
        --ion-color-danger: #eb445a;
        --ion-color-danger-rgb: 235, 68, 90;
        --ion-color-danger-contrast: #ffffff;
        --ion-color-danger-contrast-rgb: 255, 255, 255;
        --ion-color-danger-shade: #cf3c4f;
        --ion-color-danger-tint: #ed576b;
        --ion-color-dark: #0F3057;
        --ion-color-dark-rgb: 15, 48, 87;
        --ion-color-dark-contrast: #ffffff;
        --ion-color-dark-contrast-rgb: 255, 255, 255;
        --ion-color-dark-shade: #0d2a4d;
        --ion-color-dark-tint: #274568;
        --ion-color-medium: #008891;
        --ion-color-medium-rgb: 0, 136, 145;
        --ion-color-medium-contrast: #ffffff;
        --ion-color-medium-contrast-rgb: 255, 255, 255;
        --ion-color-medium-shade: #007880;
        --ion-color-medium-tint: #1a949c;
        --ion-color-light: #f4f5f8;
        --ion-color-light-rgb: 244, 245, 248;
        --ion-color-light-contrast: #000000;
        --ion-color-light-contrast-rgb: 0, 0, 0;
        --ion-color-light-shade: #d7d8da;
        --ion-color-light-tint: #f5f6f9;
    }
}