<app-navbar titulo="Ingresa" (propagar)=" isPcV($event)"></app-navbar>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="12" size-md="6" size-lg="6" size-xl="5" class="center">
                <ion-card>
                    <ion-card-header>
                        Inicia Sesion
                    </ion-card-header>
                    <ion-card-content>
                        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
                            <ion-item lines="full">
                                <ion-label position="floating" class="inputLabel">Correo electrónico</ion-label>
                                <ion-input formControlName="email" type="email" id="email"></ion-input>
                            </ion-item>
                            <span class="error ion-padding" *ngIf="submitted && errorCtr.email.errors?.required">
                              El correo es requerido.
                            </span>
                            <span class="error ion-padding" *ngIf="submitted && errorCtr.email.errors?.pattern">
                              Correo ingresado invalido.
                            </span>
                            <ion-item lines="full">
                                <ion-label position="floating" class="inputLabel">Contraseña</ion-label>
                                <ion-input *ngIf="!viewPass" formControlName="password" type="password" id="password"></ion-input>
                                <ion-input *ngIf="viewPass" formControlName="password" type="text" id="password"></ion-input>
                            </ion-item>
                            <span *ngIf="!viewPass" (click)="viewPassFunction(viewPass)">Ver Contraseña <ion-icon name="eye"></ion-icon></span>
                            <span *ngIf="viewPass" (click)="viewPassFunction(viewPass)">Ocultar Contraseña <ion-icon name="eye"></ion-icon></span>
                            <span class="error ion-padding" *ngIf="submitted && errorCtr.password.errors?.required">
                              El password es requerido.
                            </span>
                            <span class="error ion-padding" *ngIf="submitted && errorCtr.password.errors?.pattern">
                              Password ingresado invalido.
                            </span>
                            <ion-row>
                                <ion-col class="center">
                                    <a [routerLink]="['/forgot-password']">
                                        <ion-label>Recordar contraseña</ion-label>
                                    </a>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <ion-button color="primary" expand="block" [disabled]="loginForm.invalid" (click)="onLogin()">New login</ion-button>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <ion-button color="secondary" expand="block" (click)="loginGoogle()">Google</ion-button>
                                </ion-col>
                            </ion-row>
                        </form>
                        <ion-row class="hidden">
                            <ion-col class="center">
                                <ion-checkbox color="primary" [(ngModel)]="recordarme"></ion-checkbox>
                                <ion-label> Recordar usuario </ion-label>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col class="center">
                                <a [routerLink]="['/register']">
                                    <ion-label>¿No tienes Cuenta? / Registrarse</ion-label>
                                </a>
                            </ion-col>
                        </ion-row>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>


</ion-content>
<app-footer></app-footer>