<app-navbar titulo="Adoptar" (propagar)=" isPcV($event)"></app-navbar>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="12" class="center">
                <!-- request Mascota -->
                <ion-grid>

                    <ion-segment (ionChange)="segmentChanged($event)" color="primary">

                        <ion-segment-button disabled value="personal" style="opacity: 1 !important">
                            <ion-label>Información personal</ion-label>
                        </ion-segment-button>

                        <ion-segment-button disabled value="address" style="opacity: 1 !important">
                            <ion-label>Dirección</ion-label>
                        </ion-segment-button>

                        <ion-segment-button disabled value="questions" style="opacity: 1 !important">
                            <ion-label>Cuestionario de adopción</ion-label>
                        </ion-segment-button>


                    </ion-segment>


                    <ion-card class="noBorder">
                        <form [formGroup]="requesterForm" (ngSubmit)="adoptar()" novalidate>
                            <!-- apartado datos personales -->
                            <ion-row *ngIf="publisher ==='personal'">

                                <ion-card style="min-height:75vh">
                                    <ion-card-content style="min-height:80%">
                                        <!-- Nombre  -->
                                        <ion-col size="12" size-md="6">

                                            <ion-item lines="full">
                                                <ion-label position="floating" class="inputLabel">Nombres</ion-label>

                                                <ion-input formControlName="nameUser" type="text" id="nameUser" class="tCap">
                                                </ion-input>
                                            </ion-item>
                                            <span class="error ion-padding" *ngIf="submitted && errorCtr.nameUser.errors?.required">
                                  El nombre es requerido.
                              </span>
                                            <span class="error ion-padding" *ngIf="submitted && errorCtr.nameUser.errors?.minlength">
                                  La cantidad de caracteres minima es 3.
                              </span>
                                        </ion-col>


                                        <!-- Apellido paterno -->
                                        <ion-col size="12" size-md="6">
                                            <ion-item lines="full">
                                                <ion-label position="floating" class="inputLabel">Apellido paterno</ion-label>
                                                <ion-input formControlName="lastNameUser" type="text" id="lastNameUser" class="tCap"></ion-input>
                                            </ion-item>
                                            <span class="error ion-padding" *ngIf="submitted && errorCtr.lastNameUser.errors?.required">
                                  El apellido paterno es requerido.
                              </span>
                                            <span class="error ion-padding" *ngIf="submitted && errorCtr.lastNameUser.errors?.minlength">
                                  La cantidad de caracteres minima es 3.
                              </span>
                                        </ion-col>

                                        <!-- Apellido Materno -->
                                        <ion-col size="12" size-md="6">
                                            <ion-item lines="full">
                                                <ion-label position="floating" class="inputLabel">Apellido materno</ion-label>
                                                <ion-input formControlName="surNameUser" type="text" id="surNameUser" class="tCap">
                                                </ion-input>
                                            </ion-item>
                                            <span class="error ion-padding" *ngIf="submitted && errorCtr.surNameUser.errors?.required">
                                  El apellido materno es requerido.
                              </span>
                                            <span class="error ion-padding" *ngIf="submitted && errorCtr.surNameUser.errors?.minlength">
                                  La cantidad de caracteres minima es 3.
                              </span>
                                        </ion-col>


                                        <!-- Edad -->
                                        <ion-col size="12" size-md="6" *ngIf="user.birthDate ===null ">
                                            <ion-item lines="full">
                                                <ion-label position="floating" class="inputLabel">Fecha de nacimiento </ion-label>
                                                <ion-input displayFormat="YYYY-MM-DD" min="1960-01-01" type="date" max="2021-12-31" formControlName="birthDate" id="birthDate" (ionChange)="getDate($event)">
                                                </ion-input>
                                            </ion-item>

                                        </ion-col>
                                        <ion-col size="12" size-md="6">
                                            <ion-item lines="full">
                                                <ion-label position="floating" class="inputLabel">Edad</ion-label>
                                                <ion-input formControlName="ageUser" type="number" id="ageUser" readonly>
                                                </ion-input>
                                            </ion-item>
                                            <span class="error ion-padding" *ngIf="submitted && errorCtr.ageUser.errors?.required">
                                  El nombre es requerido.
                              </span>
                                            <span class="error ion-padding" *ngIf="submitted && errorCtr.ageUser.errors?.minlength">
                                  La cantidad de caracteres minima es 3.
                              </span>
                                        </ion-col>

                                        <!-- Telefono Casa -->
                                        <ion-col size="12" size-md="6">
                                            <ion-item lines="full">
                                                <ion-label position="floating" class="inputLabel">Teléfono casa</ion-label>
                                                <ion-input formControlName="phoneHome" type="number" min="10" max="10" placeholder="Ingresa tu numero a 10 dígitos" id="phoneHome"></ion-input>
                                            </ion-item>
                                            <span class="error ion-padding" *ngIf="submitted && errorCtr.phoneHome.errors?.required">
                                  El nombre es requerido.
                              </span>
                                            <span class="error ion-padding" *ngIf="submitted && errorCtr.phoneHome.errors?.minlength">
                                  La cantidad de caracteres minima es 3.
                              </span>
                                        </ion-col>

                                        <!-- Telefono celular -->
                                        <ion-col size="12" size-md="6">
                                            <ion-item lines="full">
                                                <ion-label position="floating" class="inputLabel">Teléfono celular</ion-label>
                                                <ion-input formControlName="phoneCel" type="number" min="10" max="10" placeholder="Ingresa tu numero a 10 dígitos" id="phoneCel"></ion-input>
                                            </ion-item>
                                            <span class="error ion-padding" *ngIf="submitted && errorCtr.phoneCel.errors?.required">
                                  El nombre es requerido.
                              </span>
                                            <span class="error ion-padding" *ngIf="submitted && errorCtr.phoneCel.errors?.minlength">
                                  La cantidad de caracteres minima es 3.
                              </span>
                                        </ion-col>
                                        <!-- Ocupación -->
                                        <ion-col size="12" size-md="6">
                                            <ion-item lines="full">
                                                <ion-label position="floating" class="inputLabel">Ocupación</ion-label>
                                                <ion-input formControlName="ocupationUser" type="text" class="tIni" id="ocupationUser">
                                                </ion-input>
                                            </ion-item>
                                            <span class="error ion-padding" *ngIf="submitted && errorCtr.ocupationUser.errors?.required">
                                  El apellido materno es requerido.
                              </span>
                                            <span class="error ion-padding" *ngIf="submitted && errorCtr.ocupationUser.errors?.minlength">
                                  La cantidad de caracteres minima es 3.
                              </span>
                                        </ion-col>

                                        <!-- emailUser -->
                                        <ion-col size="12" size-md="6">
                                            <ion-item lines="full">
                                                <ion-label position="floating" class="inputLabel">Correo electrónico</ion-label>
                                                <ion-input formControlName="emailUser" type="email" class="tLow" id="emailUser">
                                                </ion-input>
                                            </ion-item>
                                            <span class="error ion-padding" *ngIf="submitted && errorCtr.emailUser.errors?.required">
                                  El apellido materno es requerido.
                              </span>
                                            <span class="error ion-padding" *ngIf="submitted && errorCtr.emailUser.errors?.minlength">
                                  La cantidad de caracteres minima es 3.
                              </span>
                                        </ion-col>


                                    </ion-card-content>
                                    <ion-card-header>
                                        <ion-col size="12">
                                            <ion-col size="6">
                                                <ion-button expand="block" color="danger" (click)=" cancelar() ">
                                                    <ion-icon name="close-circle"></ion-icon>
                                                </ion-button>
                                            </ion-col>
                                            <ion-col size="6">
                                                <ion-button expand="block" color="tertiary" [disabled]="(requesterForm.value.nameUser === '' && 
                                                                                          requesterForm.value.lastNameUser === '' && 
                                                                                          (requesterForm.value.phoneHome === '' ||  requesterForm.value.phoneCel === '') && 
                                                                                          requesterForm.value.ocupationUser === '' && 
                                                                                          requesterForm.value.emailUser === '')" (click)="publisher = 'address'">
                                                    <ion-icon name="return-up-forward"></ion-icon>
                                                </ion-button>
                                            </ion-col>
                                        </ion-col>

                                    </ion-card-header>
                                </ion-card>
                            </ion-row>
                            <!-- apartado datos direccion -->
                            <ion-row *ngIf="publisher ==='address'">
                                <ion-card style="min-height:75vh">
                                    <ion-card-content style="min-height:80%">
                                        <!-- Direccion  -->
                                        <ion-col size="12" size-md="6">
                                            <ion-item lines="full">
                                                <ion-label position="floating" class="inputLabel">Dirección</ion-label>
                                                <ion-input formControlName="streetAdressUser" class="tIni" type="text" id="streetAdressUser">
                                                </ion-input>
                                            </ion-item>
                                            <span class="error ion-padding" *ngIf="submitted && errorCtr.streetAdressUser.errors?.required">
                                  El nombre es requerido.
                              </span>
                                            <span class="error ion-padding" *ngIf="submitted && errorCtr.streetAdressUser.errors?.minlength">
                                  La cantidad de caracteres minima es 3.
                              </span>
                                        </ion-col>
                                        <!-- Numero externo  -->
                                        <ion-col size="12" size-md="6">
                                            <ion-item lines="full">
                                                <ion-label position="floating" class="inputLabel">Número externo</ion-label>
                                                <ion-input formControlName="numberAdressExt" class="tIni" type="text" id="numberAdressExt">
                                                </ion-input>
                                            </ion-item>
                                            <span class="error ion-padding" *ngIf="submitted && errorCtr.numberAdressExt.errors?.required">
                                  El nombre es requerido.
                              </span>
                                            <span class="error ion-padding" *ngIf="submitted && errorCtr.numberAdressExt.errors?.minlength">
                                  La cantidad de caracteres minima es 3.
                              </span>
                                        </ion-col>
                                        <!-- Numero interno  -->
                                        <ion-col size="12" size-md="6">
                                            <ion-item lines="full">
                                                <ion-label position="floating" class="inputLabel">Número interno</ion-label>
                                                <ion-input formControlName="numberAdressInt" class="tIni" type="text" id="numberAdressInt">
                                                </ion-input>
                                            </ion-item>
                                            <span class="error ion-padding" *ngIf="submitted && errorCtr.numberAdressInt.errors?.required">
                                  El nombre es requerido.
                              </span>
                                            <span class="error ion-padding" *ngIf="submitted && errorCtr.numberAdressInt.errors?.minlength">
                                  La cantidad de caracteres minima es 3.
                              </span>
                                        </ion-col>
                                        <!-- Colonia  -->
                                        <ion-col size="12" size-md="6">
                                            <ion-item lines="full">
                                                <ion-label position="floating" class="inputLabel">Colonia</ion-label>
                                                <ion-input formControlName="coloniAdress" class="tIni" type="text" id="coloniAdress"></ion-input>
                                            </ion-item>
                                            <span class="error ion-padding" *ngIf="submitted && errorCtr.coloniAdress.errors?.required">
                                  El nombre es requerido.
                              </span>
                                            <span class="error ion-padding" *ngIf="submitted && errorCtr.coloniAdress.errors?.minlength">
                                  La cantidad de caracteres minima es 3.
                              </span>
                                        </ion-col>
                                        <!-- Municipio o Delegación  -->
                                        <ion-col size="12" size-md="6">
                                            <ion-item lines="full">
                                                <ion-label position="floating" class="inputLabel">Municipio o Delegación</ion-label>
                                                <ion-input formControlName="cityAdress" class="tIni" type="text" id="cityAdress">
                                                </ion-input>
                                            </ion-item>
                                            <span class="error ion-padding" *ngIf="submitted && errorCtr.cityAdress.errors?.required">
                                  El nombre es requerido.
                              </span>
                                            <span class="error ion-padding" *ngIf="submitted && errorCtr.cityAdress.errors?.minlength">
                                  La cantidad de caracteres minima es 3.
                              </span>
                                        </ion-col>
                                        <!-- Estado  -->
                                        <ion-col size="12" size-md="6">
                                            <ion-item lines="full">
                                                <ion-label position="floating" class="inputLabel">Estado</ion-label>
                                                <ion-input formControlName="stateAdress" class="tIni" type="text" id="stateAdress">
                                                </ion-input>
                                            </ion-item>
                                            <span class="error ion-padding" *ngIf="submitted && errorCtr.stateAdress.errors?.required">
                                  El nombre es requerido.
                              </span>
                                            <span class="error ion-padding" *ngIf="submitted && errorCtr.stateAdress.errors?.minlength">
                                  La cantidad de caracteres minima es 3.
                              </span>
                                        </ion-col>
                                        <!-- CP  -->
                                        <ion-col size="12" size-md="6">
                                            <ion-item lines="full">
                                                <ion-label position="floating" class="inputLabel">Código postal</ion-label>
                                                <ion-input formControlName="cpAdress" type="number" id="cpAdress"></ion-input>
                                            </ion-item>
                                            <span class="error ion-padding" *ngIf="submitted && errorCtr.cpAdress.errors?.required">
                                  El nombre es requerido.
                              </span>
                                            <span class="error ion-padding" *ngIf="submitted && errorCtr.cpAdress.errors?.minlength">
                                  La cantidad de caracteres minima es 3.
                              </span>
                                        </ion-col>

                                    </ion-card-content>
                                    <ion-card-header>
                                        <ion-col size="12">
                                            <ion-col size="4">
                                                <ion-button expand="block" color="tertiary" (click)="publisher = 'personal'">
                                                    <ion-icon name="return-up-back"></ion-icon>
                                                </ion-button>
                                            </ion-col>
                                            <ion-col size="4">

                                                <ion-button expand="block" color="danger" (click)=" cancelar() ">
                                                    <ion-icon name="close-circle"></ion-icon>
                                                </ion-button>
                                            </ion-col>
                                            <ion-col size="4">
                                                <ion-button expand="block" color="tertiary" (click)="publisher = 'questions'">
                                                    <ion-icon name="return-up-forward"></ion-icon>
                                                </ion-button>
                                            </ion-col>
                                        </ion-col>
                                    </ion-card-header>

                                </ion-card>
                            </ion-row>

                            <!-- apartados cuestionario de adopción -->

                            <ion-row *ngIf="publisher ==='questions'">
                                <ion-card style="min-height:75vh">
                                    <ion-card-content style="min-height:80%">

                                        <!-- ¿Por que deseas adoptar?  -->
                                        <ion-col size="12" size-md="6">
                                            <ion-item lines="full">
                                                <ion-label position="floating" class="inputLabel"><br>¿Por que deseas adoptar?
                                                </ion-label>
                                                <ion-input formControlName="whyAdop" type="text" id="whyAdop"></ion-input>
                                            </ion-item>
                                            <span class="error ion-padding" *ngIf="submitted && errorCtr.whyAdop.errors?.required">
                                  El nombre es requerido.
                              </span>
                                            <span class="error ion-padding" *ngIf="submitted && errorCtr.whyAdop.errors?.minlength">
                                  La cantidad de caracteres minima es 3.
                              </span>
                                        </ion-col>
                                        <!-- ¿Actualmente tienes otros animales? ¿Cuales?  -->
                                        <ion-col size="12" size-md="6">
                                            <ion-item lines="full">
                                                <ion-label position="floating" class="inputLabel">¿Actualmente tienes otros animales?
                                                    <br>¿Cuales?
                                                </ion-label>
                                                <ion-input formControlName="haveOtherAnimal" type="text" id="haveOtherAnimal">
                                                </ion-input>
                                            </ion-item>
                                            <span class="error ion-padding" *ngIf="submitted && errorCtr.haveOtherAnimal.errors?.required">
                                  El nombre es requerido.
                              </span>
                                            <span class="error ion-padding" *ngIf="submitted && errorCtr.haveOtherAnimal.errors?.minlength">
                                  La cantidad de caracteres minima es 3.
                              </span>
                                        </ion-col>
                                        <!-- ¿Has tenido otros mascotas? ¿Que paso con ellos?  -->
                                        <ion-col size="12" size-md="6">
                                            <ion-item lines="full">
                                                <ion-label position="floating" class="inputLabel">¿Has tenido otros mascotas?
                                                    <br>¿Que paso con ellos?
                                                </ion-label>
                                                <ion-input formControlName="hadOtherAnimal" type="text" id="hadOtherAnimal">
                                                </ion-input>
                                            </ion-item>
                                            <span class="error ion-padding" *ngIf="submitted && errorCtr.hadOtherAnimal.errors?.required">
                                  El nombre es requerido.
                              </span>
                                            <span class="error ion-padding" *ngIf="submitted && errorCtr.hadOtherAnimal.errors?.minlength">
                                  La cantidad de caracteres minima es 3.
                              </span>
                                        </ion-col>
                                        <!-- ¿Vives en casa o departamento? ¿Como es el area donde vivira el nuevo inquilino?  -->
                                        <ion-col size="12" size-md="6">
                                            <ion-item lines="full">
                                                <ion-label position="floating" class="inputLabel">¿Vives en casa o departamento?
                                                    <br>¿Como es el area donde vivira el nuevo inquilino?
                                                </ion-label>
                                                <ion-input formControlName="houseApartment" type="text" id="houseApartment">
                                                </ion-input>
                                            </ion-item>
                                            <span class="error ion-padding" *ngIf="submitted && errorCtr.houseApartment.errors?.required">
                                  El nombre es requerido.
                              </span>
                                            <span class="error ion-padding" *ngIf="submitted && errorCtr.houseApartment.errors?.minlength">
                                  La cantidad de caracteres minima es 3.
                              </span>
                                        </ion-col>
                                        <!-- En caso de vivir en un lugar rentado ¿Tus arrendadores permiten animales?  -->
                                        <ion-col size="12" size-md="6">
                                            <ion-item lines="full">
                                                <ion-label position="floating" class="inputLabel">En caso de vivir en un lugar rentado
                                                    <br>¿Tus arrendadores permiten animales?
                                                </ion-label>
                                                <ion-input formControlName="arrendadoresAcepted" type="text" id="arrendadoresAcepted">
                                                </ion-input>
                                            </ion-item>
                                            <span class="error ion-padding" *ngIf="submitted && errorCtr.arrendadoresAcepted.errors?.required">
                                  El nombre es requerido.
                              </span>
                                            <span class="error ion-padding" *ngIf="submitted && errorCtr.arrendadoresAcepted.errors?.minlength">
                                  La cantidad de caracteres minima es 3.
                              </span>
                                        </ion-col>
                                        <!-- ¿Que edades tienen quienes viviran con el adoptado? -->
                                        <ion-col size="12" size-md="6">
                                            <ion-item lines="full">
                                                <ion-label position="floating" class="inputLabel"><br>¿Que edades tienen quienes viviran con el adoptado? </ion-label>
                                                <ion-input formControlName="agesLive" type="text" id="agesLive"></ion-input>
                                            </ion-item>
                                            <span class="error ion-padding" *ngIf="submitted && errorCtr.agesLive.errors?.required">
                                  El nombre es requerido.
                              </span>
                                            <span class="error ion-padding" *ngIf="submitted && errorCtr.agesLive.errors?.minlength">
                                  La cantidad de caracteres minima es 3.
                              </span>
                                        </ion-col>
                                        <!-- En caso de que sea perro ¿Cuantas veces y cuanto tiempo saldra a pasear al dia?-->
                                        <ion-col size="12" size-md="6">
                                            <ion-item lines="full">
                                                <ion-label position="floating" class="inputLabel">En caso de que sea perro
                                                    <br>¿Cuantas veces y cuanto tiempo saldrá a pasear al dia?
                                                </ion-label>
                                                <ion-input formControlName="leaveDay" type="text" id="leaveDay"></ion-input>
                                            </ion-item>
                                            <span class="error ion-padding" *ngIf="submitted && errorCtr.leaveDay.errors?.required">
                                  El nombre es requerido.
                              </span>
                                            <span class="error ion-padding" *ngIf="submitted && errorCtr.leaveDay.errors?.minlength">
                                  La cantidad de caracteres minima es 3.
                              </span>
                                        </ion-col>
                                        <!-- ¿Donde pasara la mayor parte del dia el adoptado y con quien?-->
                                        <ion-col size="12" size-md="6">
                                            <ion-item lines="full">
                                                <ion-label position="floating" class="inputLabel">¿Donde pasara la mayor parte
                                                    <br>del dia el adoptado y con quien?
                                                </ion-label>
                                                <ion-input formControlName="whereWho" type="text" id="whereWho"></ion-input>
                                            </ion-item>
                                            <span class="error ion-padding" *ngIf="submitted && errorCtr.whereWho.errors?.required">
                                  El nombre es requerido.
                              </span>
                                            <span class="error ion-padding" *ngIf="submitted && errorCtr.whereWho.errors?.minlength">
                                  La cantidad de caracteres minima es 3.
                              </span>
                                        </ion-col>
                                        <!-- ¿Donde dormirá el adoptado?-->
                                        <ion-col size="12" size-md="6">
                                            <ion-item lines="full">
                                                <ion-label position="floating" class="inputLabel"><br>¿Donde dormirá el adoptado?
                                                </ion-label>
                                                <ion-input formControlName="whereSleep" type="text" id="whereSleep"></ion-input>
                                            </ion-item>
                                            <span class="error ion-padding" *ngIf="submitted && errorCtr.whereSleep.errors?.required">
                                  El nombre es requerido.
                              </span>
                                            <span class="error ion-padding" *ngIf="submitted && errorCtr.whereSleep.errors?.minlength">
                                  La cantidad de caracteres minima es 3.
                              </span>
                                        </ion-col>
                                        <!-- ¿Cuanto tiempo pasará sin compañia humana el adoptado?-->
                                        <ion-col size="12" size-md="6">
                                            <ion-item lines="full">
                                                <ion-label position="floating" class="inputLabel">¿Cuanto tiempo pasará sin
                                                    <br>compañia humana el adoptado?
                                                </ion-label>
                                                <ion-input formControlName="timeWithOut" type="text" id="timeWithOut"></ion-input>
                                            </ion-item>
                                            <span class="error ion-padding" *ngIf="submitted && errorCtr.timeWithOut.errors?.required">
                                  El nombre es requerido.
                              </span>
                                            <span class="error ion-padding" *ngIf="submitted && errorCtr.timeWithOut.errors?.minlength">
                                  La cantidad de caracteres minima es 3.
                              </span>
                                        </ion-col>
                                        <!-- ¿Quien sera el responsable y se hara cargo de cubrir los gastos del adoptado?-->
                                        <ion-col size="12" size-md="6">
                                            <ion-item lines="full">
                                                <ion-label position="floating" class="inputLabel">¿Quien sera el responsable y se hara <br>cargo de cubrir los gastos del adoptado?</ion-label>
                                                <ion-input formControlName="whoPay" type="text" id="whoPay"></ion-input>
                                            </ion-item>
                                            <span class="error ion-padding" *ngIf="submitted && errorCtr.whoPay.errors?.required">
                                  El nombre es requerido.
                              </span>
                                            <span class="error ion-padding" *ngIf="submitted && errorCtr.whoPay.errors?.minlength">
                                  La cantidad de caracteres minima es 3.
                              </span>
                                        </ion-col>
                                    </ion-card-content>


                                    <ion-card-header>
                                        <ion-col size="12">
                                            <ion-col size="4">
                                                <ion-button expand="block" color="tertiary" (click)="publisher = 'address'">
                                                    <ion-icon name="return-up-back"></ion-icon>
                                                </ion-button>
                                            </ion-col>
                                            <ion-col size="4">

                                                <ion-button expand="block" color="danger" (click)=" cancelar() ">
                                                    <ion-icon name="close-circle"></ion-icon>
                                                </ion-button>
                                            </ion-col>

                                            <ion-col size="4">
                                                <ion-button expand="block" color="primary" (click)="sendRequest()">
                                                    <ion-icon name="send"></ion-icon>
                                                </ion-button>
                                            </ion-col>

                                        </ion-col>
                                    </ion-card-header>

                                </ion-card>



                            </ion-row>






                        </form>
                    </ion-card>



                </ion-grid>


            </ion-col>
        </ion-row>
    </ion-grid>


</ion-content>
<app-footer></app-footer>