<app-navbar titulo="Registro" (propagar)=" isPcV($event)"></app-navbar>
<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="12" size-md="6" size-lg="6" size-xl="5" class="center">


                <ion-card>
                    <ion-card-header>
                        Crea tu nueva cuenta
                    </ion-card-header>
                    <ion-card-content>
                        <form [formGroup]="registerForm" novalidate>

                            <ion-item lines="full">
                                <ion-label position="floating" class="inputLabel">Tipo de registro</ion-label>
                                <ion-select placeholder="Selecciona uno" formControlName="roleUser" id="roleUser">
                                    <!-- <ion-select-option *ngFor="let item of tiposUsuarios" [value]="item.value">{{item.type}}</ion-select-option> -->
                                    <ion-select-option value="Donate">Donador</ion-select-option>
                                    <ion-select-option value="Recatista">Rescatista</ion-select-option>
                                    <ion-select-option value="Asociación">Asociación</ion-select-option>
                                </ion-select>
                            </ion-item>
                            <!-- <span class="error ion-padding" *ngIf="submitted && errorCtr.tiposUsuarios.errors?.required">
                              El nombre es requerido.
                            </span> -->
                            <ion-item lines="full">
                                <ion-label position="floating" class="inputLabel">Nombre</ion-label>
                                <ion-input formControlName="nameUser" type="text" id="nameUser"></ion-input>
                            </ion-item>
                            <!-- <span class="error ion-padding" *ngIf="submitted && errorCtr.nameUser.errors?.required">
                              El nombre es requerido.
                            </span>
                            <span class="error ion-padding" *ngIf="submitted && errorCtr.nameUser.errors?.minlength">
                              La cantidad de caracteres minima es 3.
                            </span> -->
                            <ion-item lines="full">
                                <ion-label position="floating" class="inputLabel">Apellido paterno</ion-label>
                                <ion-input formControlName="lastNameUser" type="text" id="lastNameUser"></ion-input>
                            </ion-item>
                            <!-- <span class="error ion-padding" *ngIf="submitted && errorCtr.lastNameUser.errors?.required">
                              El nombre es requerido.
                            </span>
                            <span class="error ion-padding" *ngIf="submitted && errorCtr.lastNameUser.errors?.minlength">
                              La cantidad de caracteres minima es 3.
                            </span> -->
                            <ion-item lines="full">
                                <ion-label position="floating" class="inputLabel">Apellido materno</ion-label>
                                <ion-input formControlName="surNameUser" type="text" id="surNameUser"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label position="floating" class="inputLabel">Fecha de nacimiento YYYY-MM-DD</ion-label>
                                <ion-datetime displayFormat="YYYY-MM-DD" min="1960-01-01" max="2021-12-31" value="" formControlName="birthDate" id="birthDate"></ion-datetime>
                            </ion-item>
                            <!-- <span class="error ion-padding" *ngIf="submitted && errorCtr.dateUser.errors?.required">
                              El fecha de nacimiento es requerido.
                            </span> -->
                            <ion-item lines="full">
                                <ion-label position="floating" class="inputLabel">Ocupación</ion-label>
                                <ion-input formControlName="ocupationUser" type="text" id="ocupationUser"></ion-input>
                            </ion-item>
                            <!-- <span class="error ion-padding" *ngIf="submitted && errorCtr.ocupationUser.errors?.required">
                            La ocupación es requerido.
                          </span> -->

                            <ion-item lines="full">
                                <ion-label position="floating" class="inputLabel">Correo electrónico</ion-label>
                                <ion-input formControlName="emailUser" type="email" id="emailUser"></ion-input>
                                <!-- <ion-label position="floating" class="inputLabel">Mostrar correo electrónico</ion-label>
                                <ion-checkbox formControlName="visibleEmailUser" id="visibleEmailUser" color="primary"></ion-checkbox> -->
                            </ion-item>
                            <!-- <span class="error ion-padding" *ngIf="submitted && errorCtr.emailUser.errors?.required">
                              El correo es requerido.
                            </span>
                            <span class="error ion-padding" *ngIf="submitted && errorCtr.emailUser.errors?.pattern">
                              Correo ingresado invalido.
                            </span> -->
                            <ion-item lines="full">
                                <ion-label position="floating" class="inputLabel">Contraseña</ion-label>
                                <ion-input *ngIf="!viewPass" formControlName="passwordUser" type="password" id="passwordUser"></ion-input>
                                <ion-input *ngIf="viewPass" formControlName="passwordUser" type="text" id="passwordUser"></ion-input>
                            </ion-item>

                            <span *ngIf="!viewPass" (click)="viewPassFunction(viewPass)"><ion-icon name="eye"></ion-icon>  Ver Contraseña</span>
                            <span *ngIf="viewPass" (click)="viewPassFunction(viewPass)"> <ion-icon name="eye"></ion-icon>  Ocultar Contraseña</span>
                            <!-- <span class="error ion-padding" *ngIf="submitted && errorCtr.passwordUser.errors?.required">
                              El password es requerido.
                            </span> -->
                            <!-- <span class="error ion-padding" *ngIf="submitted && errorCtr.passwordUser.errors?.pattern">
                              Password ingresado invalido.
                            </span> -->


                            <!-- <ion-item lines="full">
                                <ion-label position="floating">Fecha de registro</ion-label>
                                <ion-datetime (ionChange)="fetchDate($event)" formControlName="dob" [value]="defaultDate"></ion-datetime>
                            </ion-item>

                            <ion-item lines="full">
                                <ion-label position="floating">Teléfono</ion-label>
                                <ion-input maxlength="10" formControlName="phone" type="text" required></ion-input>
                            </ion-item>
                            <span class="error ion-padding" *ngIf="submitted && errorCtr.phone.errors?.required">
                              El número de telefono es requerido.
                            </span>
                            <span class="error ion-padding" *ngIf="submitted && errorCtr.phone.errors?.pattern">
                             El número de correo ingresado no valido.
                            </span> -->
                            <!-- <ion-row>
                                <ion-col>
                                    <ion-button type="submit" color="secondary" expand="block">Enviar</ion-button>
                                </ion-col>
                            </ion-row> -->
                            <ion-row>
                                <ion-col>
                                    <ion-button color="secondary" expand="block" (click)="onRegister()">Registrarse</ion-button>
                                </ion-col>
                            </ion-row>
                        </form>
                        <!-- <ion-row>
                            <ion-col class="center">
                                <ion-checkbox color="primary" [(ngModel)]="recordarme"></ion-checkbox>
                                <ion-label> Recordar usuario </ion-label>
                            </ion-col>
                        </ion-row> -->
                        <ion-row>
                            <ion-col class="center">
                                <a [routerLink]="['/login']">
                                    <ion-label>¿Ya tienes Cuenta? / Ingresar</ion-label>
                                </a>
                            </ion-col>
                        </ion-row>
                    </ion-card-content>
                </ion-card>

            </ion-col>
        </ion-row>
    </ion-grid>


</ion-content>
<app-footer></app-footer>