<app-navbar titulo="Publicaciones" (propagar)=" isPcV($event)"></app-navbar>

<!-- <app-loading *ngIf="!nextStep" [nextStep]="nextStep"></app-loading> -->

<ion-content color="light">

    <ion-fab vertical="bottom" horizontal="start" edge slot="fixed">
        <ion-fab-button>
            <ion-icon name="add" (click)="add()"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <app-refresher></app-refresher>
    <!-- <div class="center" style="position: -webkit-sticky;
    position: sticky;
    top: 20px;
    z-index:2;
    ">
        <ion-button *ngIf="user$  " class="center" color="warning" [routerLink]="['/login']"> Login </ion-button>
    </div> -->
    <app-slider></app-slider>
    <div class="container">
        <ion-grid>
            <ion-row>
                <ion-col size="12">
                    <app-search-bar (messageEvent)=" searchBar($event)"></app-search-bar>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12" size-md="6" size-lg="4" size-xl="3" *ngFor="let item of pets | filtro:filtro:columnaBusqueda; let i = index; ">
                    <app-publication [item]="item" [count]='likesByUser | filtroLike:item.uid' [user]="user"></app-publication>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

</ion-content>
<app-footer></app-footer>